<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Projekty SSPBrno</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
{% include "navbar.html" %}



<main>
    <div class="container">
        <div class="section">


            <div class="row">
                <form class="col s12" method="POST" action="/create_event" enctype="multipart/form-data" id="save_edit">
                    <input type="hidden" name="new_users" id="new_users">
                    <input type="hidden" name="surveys" id="surveys">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field">
                            <input name="title" id="first_name" type="text" class="validate">
                            <label for="first_name">Název</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="text" id="textarea2" class="materialize-textarea"
                                          data-length="500"></textarea>
                                <label for="textarea2">Obsah</label>
                            </div>

                            <div class="input-field col s12">
                                Začátek projetku: <input type="text" name="time1" value="Datum začátku projektu" class="datepicker">
                                Konec projetku: <input type="text" name="time2" value="Datum konce projektu" class="datepicker">
                            </div>
                        </div>
                        <span><h5>Přidaní uživatelé: </h5></span>
                        <p id="new_added_users"></p>


                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                      <input type="text" id="autocomplete-input" class="autocomplete" autocomplete="off">
                                      <label for="autocomplete-input">Vyhledat a přidat uživatele</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12">
                                <span><h5>Anketa</h5></span>
                                <a class="btn" onclick="add_survey()">Přidat anketu</a>
                            </div>
                            <div>
                                <ol id="survey">
                                </ol>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Přidat obrázky</span>
                                <input type="file" name="images" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>


                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Přidat studijní materiály</span>
                                    <input type="file" name="files" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Odeslat
                        <i class="material-icons right">send</i>
                    </button>

                </form>
            </div>


        </div>
    </div>
</main>

{% include "footer.html" %}

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script>
    $(document).ready(function(){
    $('select').formSelect();
  });


    $(document).ready(function(){
    $('.datepicker').datepicker({i18n: {
       months:
            [
              'Leden',
              'Únor',
              'Březen',
              'Duben',
              'Květen',
              'Červen',
              'Červenec',
              'Srpen',
              'Září',
              'Říjen',
              'Listopad',
              'Prosinec'
            ],
       monthsShort:
            ['Led',
              'Úno',
              'Bře',
              'Dub',
              'Kvě',
              'Črv',
              'Črn',
              'Srp',
              'Zář',
              'Říj',
              'Lis',
              'Pro'],

        weekdays:
            [
              'Neděle',
              'Pondělí',
              'Úterý',
              'Středa',
              'Čtvrtek',
              'Pátek',
              'Sobota'
            ],
        weekdaysShort:
            [
              'Ne',
              'Po',
              'Út',
              'St',
              'Čt',
              'Pá',
              'So'
            ],
        weekdaysAbbrev:
            [
              'Ne',
              'Po',
              'Út',
              'St',
              'Čt',
              'Pá',
              'So'
            ],
         cancel: 'Zrušit'
       }}

    )
  });

var added = [];
var all_users = "{{ all_users_js|safe }}";
all_users = all_users.replace("[","").replace("]","").split("'").join("").split(" ").join("").split(",");

for(i = 0; i < all_users.length; i++){
    for(j = 0; j < added.length; j++){
        if(all_users[i] == added[j]){
            all_users.splice(i,1);
        }
    }
}


str_all_users = all_users.slice();
str_all_users.forEach(function(element, i) {
  str_all_users[i]='"'+element+'": null';
});

str_all_users = "{ "+str_all_users.join(",")+"}";
var new_users = added;

function autocomp(){
document.getElementById("new_added_users").innerHTML=new_users.join(", ");
 $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: JSON.parse(str_all_users),
      onAutocomplete: function(user){
        new_users.push(user);
        document.getElementById("new_added_users").innerHTML=new_users.join(", ");
        document.getElementById("autocomplete-input").value = "";
        document.getElementById("new_users").value = new_users;
        for(i = 0; i < all_users.length; i++){
            if(all_users[i] == user){
                all_users.splice(i,1);

            }
        }
        str_all_users = all_users.slice();
        str_all_users.forEach(function(element, i) {
          str_all_users[i]='"'+element+'": null';
        });

        str_all_users = "{ "+str_all_users.join(",")+"}";
        autocomp();
      }
    });
  });
 }
 autocomp();

var question={};

var answers = [];
var questions = [];

function get_anketa(){
    for(var number=0; number<Object.keys(question).length;number++){
        questions.push(document.getElementById('q'+number).value);
        answers.push(new Array());
        for(var i=0; i<question[number]+1;i++){
            answers[number].push(document.getElementById('q'+number+'a'+i).value);
        }
    }
}

function set_anketa(){
    for(var number=0; number<questions.length;number++){
        if(questions[number] != undefined) document.getElementById('q'+number).value = questions[number];
        for(var i=0; i<question[number]+1;i++){
            if(answers[number][i] != undefined) document.getElementById('q'+number+'a'+i).value = answers[number][i];
        }
    }
}


function add_survey(){
    answers =[];
    questions=[];
    get_anketa();
    question[Object.keys(question).length] = 1;
    document.getElementById('survey').innerHTML += '<li><span>Otázka</span><input id="q'+(Object.keys(question).length-1)+'" type="text" class="validate"></li><ol id="answer'+(Object.keys(question).length-1)+'"><li>odpoved<input id="q'+(Object.keys(question).length-1)+'a0" type="text" class="validate"></li><li>odpoved<input id="q'+(Object.keys(question).length-1)+'a1" type="text" class="validate"></li></ol><a class="btn "onclick="add_answer('+(Object.keys(question).length-1)+')"><i class="material-icons">add</i></a>';
    set_anketa();
}

function add_answer(number){
    answers =[];
    questions=[];
    get_anketa();
    question[number] += 1;
    document.getElementById('answer'+number).innerHTML += '<li>odpoved<input id="q'+number+'a'+question[number]+'" type="text" class="validate"></li>'
    set_anketa();

}

$('#save_edit').submit(function() {
    question_str = {}
    for(var i=0; i<Object.keys(question).length;i++){
        console.log('I'+i);
        question_str[document.getElementById('q'+i).value] = [];
        for(var j=0; j<question[i]+1;j++){
            question_str[document.getElementById('q'+i).value].push(document.getElementById('q'+i+'a'+j).value);
            console.log(j+'j');
        }
    }
    document.getElementById("surveys").value = JSON.stringify(question_str);
    console.log(question_str);
    return true;
});
</script>
</html>
