{% block footer %}
<footer class="page-footer custom3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Projekty SSPBrno</h5>
                <p class="grey-text text-lighten-4">Stránka pro projekty SPPBrno.</p>
            </div>
            <div class="col 12 offset-s4">
                <h5 class="white-text">Užitečné odkazy</h5>
                <ul>
                    <li><a class="white-text" href="http://www.sspbrno.cz/">SSPBrno</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="#">Porni</a>
        </div>
    </div>
</footer>
{% endblock %}