<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret title</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>


<nav style="background: rgba(0,0,0,0.31)">
    <div class="nav-wrapper container">
        <a href="" class="brand-logo center">Helping Hand</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container">
    <div class="row small-preview">
        <ul class="collection with-header">
            <li class="collection-header"><b>Devices</b></li>
            {% for device in Devices %}
                <li class="collection-item ">{{ device.name }}
                    <div class="secondary-content">

                        <form action="/config" method="post">
                            {% csrf_token %}
                            <button type="submit" name="device_name" value="{{ device.name }}" class="btn-link"><i
                                    class="material-icons">settings</i></button>

                        </form>
                    </div>

                    <div class="secondary-content" style="margin-right: 15px">
                        <div class="switch">
                            <label>
                                Off
                                {% if device.state %}
                                    <input type="checkbox" checked value="{{ device.ip }}"
                                           onclick="TurnLight(this)">
                                {% else %}
                                    <input type="checkbox" value="{{ device.ip }}"
                                           onclick="TurnLight(this)">
                                {% endif %}

                                <span class="lever"></span>
                                On
                            </label>
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>


    </div>
</main>
{% for device in Devices %}
    <div id="{{ device.name }}" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <ul class="collection with-header">
                <li class="collection-header"><b>Config
                </b></li>
                {% for conf in Configs %}
                    <li class="collection-item ">{{ conf.name }}
                        <div class="secondary-content">
                            <a href="#{{ conf.name }}"><i class="material-icons">settings</i></a>
                        </div>
                    </li>

                    <div id="{{ conf.name }}" class="overlay">
                        <div class="popup">
                            <a class="close" href="#">&times;</a>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Config
                                </b></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

<script type="text/javascript">
    function TurnLight(element) {
        var ip = "http://" + element.value;
        if (element.checked) {
            ip += "/On";
        } else {
            ip += "/Off";
        }
        $.ajax({
            url: ip,
            success: function(resp){
                alert(resp)
            }
        });


    }
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
