<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Projekty SSPBrno</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<nav class="custom2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down">Projekty
            SSPBrno</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <i class="material-icons white-text">search</i>
            </li>
            <li class="search">
                <div class="search-wrapper white-text">
                    <input id="search" placeholder="Vyhledat">
                    <div class="search-results"></div>
                </div>
            </li>
            {% if user %}


                <li><a href="/user_settings">
                    {% if user.icon %}
                        <img src="{{ user.icon }}" class="circle responsive-img"> <!-- notice the "circle" class -->
                    {% else %}
                        <img height="50px" width="50px" src="https://i.stack.imgur.com/dr5qp.jpg"
                             class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    {% endif %}
                    <span class="black-text">{{ user.username }}</span>
                </a>
                </li>
            {% else %}
                <li><a href="/login">Přihlásit se</a></li>
                <li><a href="/register">Zaregistrovat se</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red" href="create_event">
        <i class="large material-icons waves-effect waves-light">add</i>
    </a>
</div>

<main>
    <div class="container">
        <div class="section">

            <div class="row">
                {% for event in events %}
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="media/{{ event.get_images.first.image }}" height="400">
                                <span class="card-title" style="color: black">{{ event.name }}</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                   style="margin-right: 50px" href="edit_event?event={{ event }}">
                                    <i class="material-icons">edit</i></a>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                   href="remove_event?event={{ event }}">
                                    <i class="material-icons">delete</i></a>
                            </div>
                            <div class="card-content">
                                <p>{{ event.text }}</p>
                            </div>

                            <div class="card-action">
                                <a href="info?event={{ event.name }}">Zobrazit více</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</main>

<footer class="page-footer custom3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Projekty SSPBrno</h5>
                <p class="grey-text text-lighten-4">Stránka pro projekty SPPBrno.</p>
            </div>
            <div class="col 12 offset-s4">
                <h5 class="white-text">Užitečné odkazy</h5>
                <ul>
                    <li><a class="white-text" href="http://www.sspbrno.cz/">SSPBrno</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="#">Porni</a>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</html>
