<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Projekty SSPBrno</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="http://lorempixel.com/580/250/nature/1">
            <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                <a class="waves-effect waves-light btn-large white light-blue-text text-lighten-1">Button</a>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/2">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/3">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/4">
            <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>


<!--
KOMENTARE
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">

            </div>
            <div class="col s10">
      <span class="black-text">
        This is a square image. Add the "circle" class to it to make it appear circular.
      </span>
            </div>
        </div>
    </div>
</div>
-->


<script>(function ($) {
    $(function () {

        // The rest above this is hidden

        $('.slider').slider({});

    }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>

</html>
