<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Projekty SSPBrno</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<nav class="custom2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo hide-on-med-and-down">Projekty
        SSPBrno</a>
        <ul class="right hide-on-med-and-down">
            {% if user %}
                <li><a href="/user_settings">
                    {% if user.icon %}
                        <img src="media/{{ user.icon }}" width="40px" height="50px" class="circle responsive-img custom4">
                        <!-- notice the "circle" class -->
                    {% else %}
                        <img height="50px" width="40px" src="https://i.stack.imgur.com/dr5qp.jpg"
                             class="circle responsive-img custom4">
                        <!-- notice the "circle" class -->
                    {% endif %}
                    <span class="black-text">{{ user.username }}</span>
                </a>
                </li>
                <li><a href="/user_logout">Odhlásit se</a></li>
            {% else %}
                <li><a href="/login">Přihlásit se</a></li>
                <li><a href="/register">Zaregistrovat se</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="section">
            <h3>{{ event.name }}</h3>

            <div class="col s12">
                {{ event.text }}
            </div>
            <br>
            
            <div class="slider">
                <ul class="slides">
                    {% for img in event.get_images %}
                        <li>
                            <img src="media/{{ img.image }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% load poll_extras %}
            {% if user.id|rated:event.id or not user %}
                <div>
                    {{ average_rating }}<span>☆</span>
                </div>
            {% else %}
                <div>
                    <a href="/rate?value=1&user_id={{ user.id }}&event_id={{ event.id }}">☆</a>
                    <a href="/rate?value=2&user_id={{ user.id }}&event_id={{ event.id }}">☆</a>
                    <a href="/rate?value=3&user_id={{ user.id }}&event_id={{ event.id }}">☆</a>
                    <a href="/rate?value=4&user_id={{ user.id }}&event_id={{ event.id }}">☆</a>
                    <a href="/rate?value=5&user_id={{ user.id }}&event_id={{ event.id }}">☆</a>
                </div>

            {% endif %}
            <br>
            <br>
            <div class="row">

                <h4>Komentáře</h4>
                {% if user %}
                    <form action="/info" method="post" class="col s12">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}">
                        <div class="input-field col s12">
                            <textarea id="name" name="comment_text" class="materialize-textarea"></textarea>
                            <label for="name">Komentář</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Odeslat
                            <i class="material-icons right">send</i>
                        </button>
                        <br/>
                        <br/>
                    </form>
                {% endif %}
                {% for comment in event.get_comments %}
                    <div class="col s12">
                        <div class="grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img src="media/{{ comment.user.icon }}"
                                         class="circle responsive-img">
                                    {{ comment.user.username }}
                                </div>
                                <div class="col s10">
                                      <span class="black-text">
                                      {{ comment.text }}
                                      </span>
                                </div>

                                {% if user.is_admin or user == comment.user %}
                                    <div class="col s1">
                                        {% if user == comment.user %}
                                        <a href="edit_comment?comment_id={{ comment.id }}">
                                        <i class="material-icons">edit</i></a>
                                        {% endif %}
                                        <a href="/remove_comment?comment_id={{ comment.id }}&event={{ event.id }}"><i
                                                class="material-icons">delete</i></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<footer class="page-footer custom3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Projekty SSPBrno</h5>
                <p class="grey-text text-lighten-4">Stránka pro projekty SPPBrno.</p>
            </div>
            <div class="col 12 offset-s4">
                <h5 class="white-text">Užitečné odkazy</h5>
                <ul>
                    <li><a class="white-text" href="http://www.sspbrno.cz/">SSPBrno</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="#">Porni</a>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.slider').slider({full_width: true});
    });
</script>
<script>
    $(document).ready(function () {
        $('.scrollspy').scrollSpy();
    });
</script>

</html>