
{% block navbar %}
<nav class="custom2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down">Projekty
            SSPBrno</a>
        <ul class="right hide-on-med-and-down">
            {% if user %}
                <li><a href="/user_settings">
                    <img src="media/{{ user.icon }}" width="40px" height="50px" class="circle responsive-img custom4">
                    <span>{{ user.username }}</span>
                </a>
                </li>
                <li><a href="/user_logout">Odhlásit se</a></li>
            {% else %}
                <li><a href="/login">Přihlásit se</a></li>
                <li><a href="/register">Zaregistrovat se</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}